<ul>
    <li>
        <a id="bmk_context_menu_open_bmk_in_bg" href='#'>
            <img src='img/open.png'>
            <span _la='openBmInBackgroundTab'> </span>
        </a>
    </li>

    <li>
        <a id="bmk_context_menu_open_bmk_in_fg" href='#'>
            <img src='img/open.png'>
            <span _la='openBmInForegroundTab'> </span>
        </a>
    </li>

    <li>
        <a id="bmk_context_menu_open_bmk_in_current_tab" href='#'>
            <img src='img/open.png'>
            <span _la='openBmInCurrentTab'> </span>
        </a>
    </li>


    <li>
        <a id="bmk_context_menu_open_bmk_in_new_wnd" href='#'>
            <img src='img/open.png'>
            <span _la='openBmInNewWindow'> </span>
        </a>
    </li>

   <li>
       <a id="bmk_context_menu_open_bmk_in_incognito_wnd" href='#'>
           <img src='img/open.png'>
           <span _la='openBmInIncognitoWindow'> </span>
       </a>
   </li>

    <li class='separator'></li>

    <li>
        <a id="bmk_context_menu_edit_bmk"href='#'>
            <img src='img/edit.png'>
            <span _la='editBookmark'> </span>
        </a>
    </li>

    <li>
        <a id="bmk_context_menu_remove_bmk" href='#'>
            <img src='img/star-delete.png'>
            <span _la='deleteBookmark'> </span>
        </a>
    </li>

</ul>