<ul>
    <li>
        <a href='#' id="panel_folder_context_menu_save_tab_to_folder" ><img src='img/star-add.png'>
            <span _la='addBookmarkHere'></span>
        </a>
    </li>
    <li>
        <a id="panel_folder_context_menu_save_session_here" href='#'>
            <img src='img/notebook-add.png'>
            <span _la='saveSessionHere'> </span>
        </a>
    </li>
    <li class='separator'></li>
    <li>
        <a id="panel_folder_context_menu_open_all_bookmarks" href='#'>
            <img src='img/open.png'>
            <span _la='openAllBookmarks'></span>
        </a>
    </li>
    <li>
        <a id="panel_folder_context_menu_open_all_in_new_window" href='#'>
            <img src='img/open.png'>
            <span _la='openAllInNewWindow'> </span>
        </a>
    </li>
    <li>
        <a id="panel_folder_context_menu_open_folder_in_incognito_window" href='#'>
            <img src='img/open.png'>
            <span _la='openFolderInIncognitoWindow'> </span>
        </a>
    </li>
    <li class='separator'></li>
    <li>
        <a id="panel_folder_context_menu_create_new_folder" href='#'>
            <img src='img/folder-new.png'>
            <span _la='createNewFolder'>
            </span>
        </a>
    </li>

    <!-- Set display to block if isPanel === none -->
    <li id="panel_folder_context_menu_edit_folder" style="display: block">
        <a href='#'>
            <img src='img/edit.png'>
            <span _la='editFolder'> </span>
        </a>
    </li>

    <li id="panel_folder_context_menu_remove_folder">
        <a href='#'>
            <img src='img/folder_closed-delete.png'>
            <span _la='deleteFolder'> </span>
        </a>
    </li>

</ul>